p{
    color:white;   
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}
div{
    width:25%;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color:black;
    line-height: 1.5;
    font-weight: 100;
    
}
strong{
    color: #e3441e;
    text-align: center;
}
ul{
    font-family: 'Lato', sans-serif;
}
